MS           SS           default
 ;       0x00 ;       0x00 ;       0x00 //fSize
 ;       0x00 ;       0x00 ;       0x00 //CRC
 ;       0x03 ;       0x03 ;       0x03 //smok_mask; maska smokow. 0x01 - pierszy smok, 0x02 - drugi smok, 0x03 - oba smoki
 ;       0x01 ;       0x01 ;       0x01 //empty_buffers;  czyste bufory. Moze pomoc gdy z danymi audio ida "smieci" z poprzednich trybow
 ;       0x90 ;       0x01 ;       0x00 //trace_messages; rejestruje komunikaty na konsoli
 ;       1000 ;       1000 ;       1000 // ka_period;         // okres wysylania keep aliveow
 ;       5000 ;       5000 ;       5000 // ka_timeout;        // czas alarmowania po nieotrzymaniu keepalive
 ; 0x01020300 ; 0x01020300 ; 0xFFFFFF00 //manID;
 ;       0x23 ;       0xEE ;       0xFF //kondPom;
 ;       0x13 ;       0xEE ;       0xFF //kondPom1;
 ;       0x11 ;       0x00 ;       0x00 //kondPom2;
 ;       0x22 ;       0x00 ;       0x00 //kondPom3;
 ;       0x00 ;       0x00 ;       0x00 //kondPom4;
 ;       0x50 ;       0x50 ;       0x50 //proto; //0x01 - dla plytki prototypowej, 0x02 - zostaw radio w resecie, 0x04 - USB jako test patterny, 0x08 - inwersja trybu kabel/radio, 0x10-USB z STM zamiast  Tenora, 0x20 - FILES - rozpocznij przechwytywanie aktualnego strumienia, 0x40 - usb ULPI, 0x80 - wlacz USB po 10s
 ;       0x01 ;       0x01 ;       0x01 //cpha;
 ;       0x0F ;       0xFF ;       0x0F //stats; - rejestruje statystyki
 ;       0x05 ;       0x05 ;       0x05 //dlevel
 ;       0x00 ;       0x00 ;       0x00 //forcems
 ;         12 ;         12 ;         12 //kwarc
 ;       0x01 ;       0x01 ;       0x01 // ack50; //0 - ACK jest wysylane bez czekania na sharka/PWMa
 ;       0x01 ;       0x01 ;       0x00 // disable_alerts;// 1 - wylacz reakcje na alerty
 ;        100 ;        100 ;        100 // unmuteIgnore; //Czas ciszy w ms po otrzymaniu potwierdzenia na 0x92 od SMOKow
 ; 0x00000000 ; 0x00000000 ; 0x00000000 // SAIcfg 30kHz
 ; 0x00000000 ; 0x00000000 ; 0x00000000 // SAIcfg 40kHz
 ; 0x01ad0213 ; 0x01ad0213 ; 0x01ad0213 // SAIcfg 44.1kHz
 ; 0x01580e02 ; 0x01580e02 ; 0x01580e02 // SAIcfg 48kHz
 ; 0x010f0c01 ; 0x010f0c01 ; 0x010f0c01 // SAIcfg 88.2kHz
 ; 0x01580e01 ; 0x01580e01 ; 0x01580e01 // SAIcfg 96kHz
 ; 0x00000000 ; 0x00000000 ; 0x00000000 // SAIcfg 176.4kHz
 ; 0x00000000 ; 0x00000000 ; 0x00000000 // SAIcfg 192kHz
 ;       5200 ;       5200 ;       5200 // timeout50; //Czas na odpowiedz na komunikat 50
